<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand fw-bold me-4 text-white" routerLink="/">Scrum Sprint Planner</a>

    <!-- Mobile Toggle Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse justify-content-lg-start justify-content-center text-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white fw-semibold px-3" routerLink="/scrum-sprint/manage-stories" routerLinkActive="active">Stories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white fw-semibold px-3" routerLink="/scrum-sprint/manage-sprint" routerLinkActive="active">Sprint</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
